{% extends "bandasform.html"%}

{% block content %}

  <h1>Listado de bandas sugeridas</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <th>Nombre</th>
      <th>Pais de Origen</th>
      <th>Discos</th>
      <th>Integrantes</th>
      <th>Genero</th>
      <th>Opciones</th>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
          {% for a in arti %}

          <tr>
            <td>{{a.nombre}}</td>
            <td>{{a.nacionalidad}}</td>
            <td>{{a.discos}}</td>
            <td>{{a.n_integrantes}}</td>
            <td>{{a.gen}}</td>
            <td>
              <a href="{% url 'eliminar' a.id %}">Eliminar</a>
              <a href="{% url 'modificar' a.id %}">Modificar</a>
            </td>
        
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</table>
 

 
 </div>

  {% endblock %}