{% extends "base.html" %}
{% block contenido %}
<style>
h1{
  color: rgb(34, 68, 88);
}
  #contenedor{
    margin-top: 0%;
    position: relative;
  }

.contenidillo{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lista{
    position: absolute;
    top: 30%;
    left: 20%;
    color: rgb(34, 68, 88);
}
td,th,table{
  border: 1px solid black;
  border-collapse: collapse;
}
.tablita{
  position: absolute;
  top: 50%;
  left: 30%;
}
</style>
<div id="contenedor">
    {% load static %}
    <img src="{% static 'img/header.jpg' %}"  height="640px" width="100%">
    <div class="contenidillo">
        <h1>Sugiere tus bandas aqui \/</h1>
        
    </div>

    <div class="lista">
        <ul >
            <li><a  href="{% url 'artistas_listado' %}">Lista de bandas Suscritas</a></li>
            <li><a href="{% url 'artistas_form' %}">Sugerir Artistas</a></li>
            <li><a href="{% url 'filtro_busqueda' %}">Eliminar Artistas</a></li>
    
          </ul>
    </div>

    <div class="tablita">
      {% block content%}

      {% endblock%}

    </div>
      
     
</div>


{% endblock %}