{% extends "base.html" %}
{% block contenido %}
<style>
      #contenedor{
        margin-top: 0%;
        position: relative;
      }
    
    
    .tablita{
      position: absolute;
      top: 6%;
      height: 100;
      width: 96%;
      padding: 3.9%;
    }
    a{
      text-decoration:none;
    }
</style>

<div id="contenedor">
    {% load static %}
    <img src="{% static 'img/header.jpg' %}"  height="640px" width="100%">


    <div class="tablita">
      {% block content%}

      {% endblock%}

    </div>
      
     
</div>


{% endblock %}