<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    
{% block title %}<title>Bienvenido okid</title>{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <nav >
    <ul >
      <li><a  href="{% url 'index' %}">Inicio</a></li>
      <li><a href="{% url 'conci' %}">Conciertos</a></li>
      <li><a href="{% url 'bandasform' %}">Nueva Musica</a></li>
      <li><a href="{% url 'noti' %}">Noticias</a></li>
      <li><a href="#comu">Comunidad</a></li>
    </ul>
    </nav>
    {% block contenido %}

    {% endblock contenido %}

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="{% static 'js/script.js' %}"></script>

       



</body>
</html>