{% extends "base.html" %}

<div id="popup1" class="over">
        <div class="popup">
          <h2>Bienvenido Okid</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
            <label for="usuario">Usuario </label><br>
            <input type="text" name="usuario" placeholder="Ingresa usuario" required><br><br>
            <label for="usuario">Contraseña</label><br>
            <input type="text" name="contraseña" placeholder="Ingresa contraseña">
            <br>
            <button>iniciar sesion</button>
          </div>
        </div>
    </div>