{% extends "base.html" %}
{% load static %}
{% block contenido %}
<section id="concert">
  <input class="buscador" type="text" name="buscaconcirto" placeholder="   Busca tu concierto" required>
  <button id="bus">⌵</button>
  
  <div id="portfolio" href="porti">
    <div class="project">
      <img class="project__image" src="{% static 'img/header1.jpg' %}" />
      <h3 class="grid__title"> Enero</h3>
      <div class="grid__overlay">
        <button class="viewbutton">ver fechas</button>
      </div>
  </div>
  
  <div class="project">
    <img class="project__image" src="{% static 'img/2.jpg' %}" />
    <h3 class="grid__title"> Febrero</h3>
    <div class="grid__overlay">
      <button class="viewbutton">ver fechas</button>
    </div>
  </div>
         
  <div class="project">
    <img class="project__image" src="https://media.giphy.com/media/GtFKXMBujHEFq/giphy.gif" />
    <h3 class="grid__title"> Marzo</h3>
    <div class="grid__overlay">
      <button class="viewbutton">ver fechas</button>
    </div>
  </div>
         
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/ZhDzruKgqMDrW/giphy.gif" />
           <h3 class="grid__title"> Abril</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/idwHsrrEkqQws34iPk/giphy.gif " />
           <h3 class="grid__title"> Mayo</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
         
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/329zJ0P7fXqo1IWpku/giphy.gif" />
           <h3 class="grid__title">Junio</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
         
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/FmLSCepYPrM8U/giphy.gif" />
           <h3 class="grid__title">Julio</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
         
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/443kffmWoICncWppEW/giphy.gif" />
           <h3 class="grid__title"> Agosto</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
       
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/nIAdXLs0ylpvy/giphy.gif" />
           <h3 class="grid__title">Septiembre</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
       
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/cJ5dS0h3dmpfCRCmD3/giphy.gif" />
           <h3 class="grid__title">Octubre</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
       
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/O4ek62kVMV9nO/giphy.gif" />
           <h3 class="grid__title"> Noviembre</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
       
         <div class="project">
           <img class="project__image" src="https://media.giphy.com/media/3o7TKoyiZADcrK0nDO/giphy.gif" />
           <h3 class="grid__title">Diciembre</h3>
           <div class="grid__overlay">
             <button class="viewbutton">ver fechas</button>
           </div>
         </div>
         
         
         <div class="overlay">
           <div class="overlay__inner">
             <button class="close">cerrar X</button>
             <img>
           </div>
         </div>
        </div>
       
       </section>
{% endblock  %}

     