{% extends "base.html" %}

  {% block contenido %}

  <header id="iniciohead">
    <div class="headline" >
        {% load static %}
      <img src="{% static 'img/header.jpg' %}" height="640px" width="100%">
      <div class="inner">
        <div class="container">
          <h1 class="clip-text">
          OTHNE´S KID
          </h1>
        </div>
      </div>
    </div>
  </header>
  <iframe style="position: absolute;" width="1349" height="60" src="https://www.youtube.com/embed/Dmfmi7PuWdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  {% endblock  %}

