@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  font-family: 'work Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 570px;
  color: #fff;
  text-align: center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.288);
}

.inner {
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 5em;
  line-height: 1.2em;
  letter-spacing: 0.3em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}


section#noti {
  padding-top: 80px;
  padding-left: 30px;
  width: 100%;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

#concert {
  padding-top: 110px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clip-text {
  padding: 5px;
  background: url("https://media.giphy.com/media/3og0IUTy80RuWleuRi/giphy.gif");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: #00000000;
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: solid 10px #4d4c4c57;
  border-bottom: solid 10px #4d4c4c57;
  text-align: center;
}


.over {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 0;
}
.popup {
  margin: 70px auto;
  padding: 40px;
  background: url("https://i.pinimg.com/564x/99/e1/d3/99e1d308241ac15346aaf8aeb4833e1d.jpg");
  border-radius: 5px;
  width: 30%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 50%;
  overflow: auto;
  position: center;
}


* {box-sizing:border-box}


/*conciertos*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");

button#bus {
  background: none;
  outline: transparent;
  font-size: 35px;
  border-color: transparent; 
}

.buscador{
  outline: none;
  margin-left: 40%;
  border-color: transparent;
  margin-bottom: 3%;
  border-bottom-color: #174c5c;
}
#portfolio {
  width: 100%;
  min-height: 180vh;
  background: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  grid-gap: 9px;
}

.project {
  position: relative;
  background: #F2DAD7;
  overflow: hidden;
  box-shadow: 1px 3px 39px 8px rgba(179, 195, 197, 0.9);
}
.project img {
  position: absolute;
  margin-left: 0.1px;
  margin-top: 1px;
  width:120%;
}
.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: -1;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(179, 195, 197, 0.9); /*color de slide por cuadro*/
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: rgb(136, 115, 112);
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #ffffff;
  width: 700px;
  padding: 20px;
  position: relative;
  opacity: 1;
}
.overlay__inner img{
  width: 80%;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close:hover {
  color: #D1A39E;
}

.project__image {
  margin-left: -20%;
  width: 100%;
}
/*NOTICIAS*/
.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
  padding: 1%;
  top: 10%;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion ul li:nth-child(1) {
  background-image: url("https://i.pinimg.com/originals/76/82/7b/76827bfc64bdca222ba646061eaf4d85.jpg");
}
.accordion ul li:nth-child(2) {
  background-image: url("https://lizstrausscom.files.wordpress.com/2019/03/palace_approved_3__large.jpg");
}
.accordion ul li:nth-child(3) {
  background-image: url("https://66.media.tumblr.com/4f89789945ab8e6d0f4b9273bf44a4bf/tumblr_o3ixduUJai1qk495mo3_1280.jpg");
}
.accordion ul li:nth-child(4) {
  background-image: url("https://static.ffx.io/images/$width_800%2C$height_450/t_crop_fill/q_86%2Cf_auto/f22b6cf96331a672ab6bf23355821875b4acfd36");
}
.accordion ul li:nth-child(5) {
  background-image: url("https://66.media.tumblr.com/473664c04b391723f313b0dba6d4912e/tumblr_mt1buchVCt1qd5zh5o1_1280.jpg");
}
.accordion ul li:nth-child(6) {
  background-image: url("https://66.media.tumblr.com/5c3356d7a2fcb065906aa78611fd80eb/tumblr_oih0msP3cm1vhy4l2o9_640.jpg");
}
.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover,
.accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 60%;
}
.accordion ul:hover li:hover a,
.accordion ul li:focus a, .accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a *,
.accordion ul li:focus a *, .accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.accordion ul:hover li {
  width: 8% !important;
}
.accordion ul:hover li a * {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 60% !important;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}
.about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
}
.about a {
  color: blue;
  text-decoration: none;
}
.about a:hover {
  text-decoration: underline;
}
